/**
 * 默认主题：经典简约排版，适合通用场景。
 * 支持按选择器分组定制。
 */
/* 全局属性 */
#article {
    line-height: 1.75;
    font-size: 16px;
}
/* 全局子元素属性 */
/* 支持分组 */
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6,
#article p {
    margin: 1em 0;
}
/* 段落 */
#article p {
}
/* 加粗 */
#article p strong {
}
/* 斜体 */
#article p em {
}
/* 一级标题 */
#article h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}
/* 标题文字 */
#article h1 span {
}
/* 标题前缀，h1-h6都支持前缀 */
#article h1::before {
}
/* 标题后缀，h1-h6都支持后缀 */
#article h1::after {
}
/* 二级标题 */
#article h2 {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid #f7f7f7;
    font-weight: bold;
}
/* 三-六级标题 */
#article h3,
#article h4,
#article h5,
#article h6 {
    font-size: 1em;
    font-weight: bold;
}
/* 列表 */
#article > ul,
#article > ol {
    padding-left: 1rem;
}
#article ul,
#article ol {
    margin-left: 1rem;
    font-size: 0.9rem;
}
#article ul {
    list-style-type: disc;
}
#article ul ul {
    list-style-type: circle;
}
#article ol {
    list-style-type: decimal;
}
/* 列表元素 */
#article li {
}
/* 图片 */
#article img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
/* 表格 */
#article table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
/* 表格单元格 */
#article table td,
#article table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid #d8d8d8;
    vertical-align: top;
}
/* 表格表头 */
#article table th {
    font-weight: bold;
    background-color: #f0f0f0;
}
/* 表格斑马条纹效果 */
#article table tr:nth-child(even) {
    background-color: #f8f8f8;
}
#article table tr:nth-child(odd) {
    background-color: #fff;
}
/* 引用块 */
#article blockquote {
    background: #afb8c133;
    border-left: 0.5em solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    font-style: italic;
    font-size: 0.9em;
}
/* 引用块前缀 */
#article blockquote::before {
}
/* 引用块后缀 */
#article blockquote::after {
}
/* 行内代码 */
#article p code {
    color: #ff502c;
    padding: 4px 6px;
    font-size: 0.78em;
}
/* 代码块外围 */
#article pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
    font-size: 12px;
}
/* 代码块 */
#article pre code {
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
}
/* 分割线 */
#article hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 2em;
    margin-bottom: 2em;
}
/* 链接 */
#article a {
    word-wrap: break-word;
    color: #0069c2;
}
/* 原始链接旁脚注上标 */
#article .footnote {
    color: #0069c2;
}
/* 脚注行 */
#article #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
/* 脚注行内编号 */
#article .footnote-num {
    display: inline;
    width: 10%;
}
/* 脚注行内文字 */
#article .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
